@import url("./style.css");
.dialogdemoThemeInheritance .container {
  text-align: center; }
body {
    background-color: #171717
}
.cherry-fixed-layout .main-holder {
    background: #333333;
}
h1 {
    font: bold 30px/35px Lato;
    color: #ffffff;
}

h2 {
    font: bold 16px/20px Lato;
    color: #ffffff;
}

h3 {
    font: normal 14px/20px Lato;
    color: #ffffff;
}

h4 {
    font: bold 14px/20px Lato;
    color: #ffffff;
}

h5 {
    font: bold 12px/18px Lato;
    color: #ffffff;
}

h6 {
    font: bold 12px/18px Lato;
    color: #ffffff;
}

body {
    font-weight: normal;
}

.logo_h__txt,
.logo_link {
    font: normal 24px/24px Righteous;
    color: #ffffff;
}

.sf-menu>li>a {
    font: normal 23px/23px Righteous;
    color: #ffffff;
}

.nav.footer-nav a {
    font: normal 11px/20px Lato;
    color: #8c8c8c;
}
.button1 {
    outline: none;
    border-radius: 8px;
    background-color: #171717; /* Green */
    border: none;
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100px;
}
.button-full {
    outline: none;
    border-radius: 8px;
    background-color: #171717; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button2{
    background-color: #4CAF50; /* Green */
}
/* Style the tab */
div.tab {
    overflow: hidden;
    background-color: #171717;
}
.text-explan{
    font-size: 14px;
    text-transform: unset;
    font-style: oblique;
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    color: #8c8c8c;
}
.m-center{
    margin-left:auto;
    margin-right: auto;
    text-align:center;
}
/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 120px;
}

.base-padding{
    padding-top:10px;
}
.cheat-cover{
    text-align: right;position: fixed;z-index:99999999;bottom: 0;height:250px;width: 100%;cursor: pointer;line-height: 0;background: #171717;
}
.btn-more-style{
    width: 100%; text-align: left;
}
.adsleft{
    width: 300px;height: 600px;position: absolute;
}
.adsright{
    width: 300px;height: 600px;position: absolute;right: 0;
}
.tablinks{
    color:white;
}
/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #333333;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #2B2B2B;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 4px;
    background: #2B2B2B;
    border-top: none;
}

.menu-item{
    float:left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: honeydew;
    text-align: center;
    min-height: 40px;
}
.menu-item-act{
    float:left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    text-align: center;
    color: chartreuse !important;
}
.post__holder .post-header .post-title a {
    color: #fff;
}
a {
    color: #e41f43;
}
a:hover,
a:focus {
    color: #fff;
}
body {
    padding: 24px 0 0 0!important;
}
body:before {
    content: '';
    width: 100%;
    height: 457px;
    position: fixed;
    left: 0;
    top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}
h1 small {
    font-size: inherit;
    font-weight: inherit;
    color: #e41f43;
}
h2 {
    margin: 0 0 14px 0;
}
p {
    margin-bottom: 16px;
}
a {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
a:hover,
a:focus {
    text-decoration: none;
}
@media (min-width: 1200px) {
    .cherry-fixed-layout .main-holder {
        max-width: 1230px;
    }
}
.header {
    background-color: transparent;
    border: none;
    padding: 0 0 17px 0;
}
.home .header {
    padding: 21px 0;
}
@media (min-width: 1200px) {
    .home .header {
        padding-bottom: 31px;
    }
}
@media (max-width: 767px) {
    .header .pseudoStickyBlock {
        display: none!important;
    }
}
.header .search-form form {
    float: right;
    margin: 0 0 0 22px;
    border: 1px solid #353535;
    background-color: #202020;
    height: 32px;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    transition: border-color 0.3s;
}
@media (min-width: 768px) and (max-width: 979px) {
    .header .search-form form {
        margin-left: 10px;
    }
}
.header .search-form form.focus {
    border-color: #e41f43;
}
.search-form input[type="text"] {
    padding-top: 10px;
    padding-bottom: 10px;
}
.header .search-form input[type="text"] {
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    color: #959595;
    float: left;
    background-color: #202020;
}
@media (min-width: 1200px) {
    .header .search-form input[type="text"] {
        width: 294px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .header .search-form input[type="text"] {
        width: 148px;
    }
}
.header .search-form_is {
    margin: 0;
    padding: 0 5px;
    border: none;
    background-color: #202020;
    font-size: 25px;
    line-height: 28px;
    color: #e41f43;
    float: left;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
.header .search-form_is:hover,
.header .search-form_is:focus {
    color: #657786;
    outline: none;
}
.social-nets-wrapper .social {
    float: right;
    margin: 0;
    padding: 1px 0 0 0;
}
@media (max-width: 767px) {
    .social-nets-wrapper .social {
        float: none;
        text-align: center;
    }
}
.social-nets-wrapper .social li {
    float: left;
    margin-left: 7px;
    list-style-type: none;
}
@media (max-width: 767px) {
    .social-nets-wrapper .social li {
        float: none;
        display: inline-block;
        vertical-align: top;
    }
}
.social-nets-wrapper .social li:first-child {
    margin-left: 0;
}
.social-nets-wrapper .social li a {
    color: #fff;
    width: 32px;
    height: 32px;
    text-align: center;
    display: block;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.social-nets-wrapper .social li a:before,
.social-nets-wrapper .social li a:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
}
.social-nets-wrapper .social li a:after {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.social-nets-wrapper .social li a.facebook-link:before {
    background-color: #475aed;
}
.social-nets-wrapper .social li a.facebook-link:after {
    background-color: #475aed;
}
.social-nets-wrapper .social li a.facebook-link:hover,
.social-nets-wrapper .social li a.facebook-link:focus {
    color: #475aed;
}
.social-nets-wrapper .social li a.twitter-link:before {
    background-color: #12bfc5;
}
.social-nets-wrapper .social li a.twitter-link:after {
    background-color: #12bfc5;
}
.social-nets-wrapper .social li a.twitter-link:hover,
.social-nets-wrapper .social li a.twitter-link:focus {
    color: #12bfc5;
}
.social-nets-wrapper .social li a i {
    font-size: 21px;
    line-height: 32px;
}
.social-nets-wrapper .social li a:hover:before,
.social-nets-wrapper .social li a:hover:after,
.social-nets-wrapper .social li a:focus:before,
.social-nets-wrapper .social li a:focus:after {
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}
.social-nets-wrapper .social li a:hover:before,
.social-nets-wrapper .social li a:focus:before {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.social-nets-wrapper .social li a:hover:after,
.social-nets-wrapper .social li a:focus:after {
    background-color: #fff;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.logo {
    display: inline-block;
    vertical-align: middle;
    float: none!important;
    position: relative;
    top: -4px;
}
@media (min-width: 768px) and (max-width: 979px) {
    .logo {
        width: 100%;
        top: -2px;
    }
}
@media (max-width: 980px) {
    .logo {
        width: 100%;
        top: -2px;
    }
}
@media (max-width: 767px) {
    .logo {
        display: block;
        text-align: center;
        top: 0;
        padding: 20px 0;
    }
}
.isStuck .logo {
    width: 80%;
}
@media (min-width: 1200px) {
    .isStuck .logo {
        width: 70%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .isStuck .logo {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .isStuck .logo {
        width: 100%;
    }
}
@media (max-width: 1200px) {
    .logo_link {
        font-size: 19px!important;
    }
}
@media (max-width: 979px) {
    .logo_link {
        font-size: 14px!important;
    }
}
@media (max-width: 767px) {
    .logo_link {
        font-size: 27px!important;
    }
}
.logo_link:hover,
.logo_link:focus {
    color: #fff;
}
.logo_tagline {
    color: #e41f43;
}
.nav-wrapper {
    margin: 0;
    height: 85px;
    line-height: 85px;
    z-index: 2;
    position: relative;
}
@media (max-width: 767px) {
    .nav-wrapper {
        height: auto;
        line-height: 20px;
        padding-bottom: 20px;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.nav-wrapper:before,
.nav-wrapper:after {
    content: '';
    left: -20px;
    right: -20px;
    width: 980px;
    position: absolute;
}
@media (min-width: 1200px) {
    .nav-wrapper:before,
    .nav-wrapper:after {
        left: -30px;
        right: -30px;
        width: 1230px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .nav-wrapper:before,
    .nav-wrapper:after {
        width: 764px;
    }
}
@media (max-width: 767px) {
    .nav-wrapper:before,
    .nav-wrapper:after {
        width: 100%;
        left: 0;
        right: 0;
    }
}
.nav-wrapper:before {
    top: 0;
    height: 100%;
    background: #363636;
    background: -moz-linear-gradient(top, #363636 0%, #2e2e2e 50%, #262626 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #363636), color-stop(50%, #2e2e2e), color-stop(100%, #262626));
    background: -webkit-linear-gradient(top, #363636 0%, #2e2e2e 50%, #262626 100%);
    background: -o-linear-gradient(top, #363636 0%, #2e2e2e 50%, #262626 100%);
    background: -ms-linear-gradient(top, #363636 0%, #2e2e2e 50%, #262626 100%);
    background: linear-gradient(to bottom, #363636 0%, #2e2e2e 50%, #262626 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#363636', endColorstr='#262626', GradientType=0);
}
.nav-wrapper.isStuck {
    margin-top: 0;
    height: 53px;
    line-height: 53px;
}
@media (max-width: 767px) {
    .nav-wrapper.isStuck {
        position: relative!important;
        top: 0!important;
        height: auto;
        line-height: 20px;
        margin-top: 20px;
    }
}
.nav-wrapper.isStuck:before,
.nav-wrapper.isStuck:after {
    width: 200%;
    left: 50%;
    margin: 0 0 0 -100%;
}
@media (min-width: 1200px) {
    .nav-wrapper.isStuck:before,
    .nav-wrapper.isStuck:after {
        width: 200%;
        left: 50%;
        right: auto;
        margin: 0 0 0 -100%;
    }
}
@media (max-width: 767px) {
    .nav-wrapper.isStuck:before,
    .nav-wrapper.isStuck:after {
        width: 100%;
        left: 0;
        margin: 0;
    }
}
.nav-wrapper.isStuck:after {
    height: 6px;
    bottom: -6px;
}
.nav__primary {
    margin-bottom: 0;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    left: auto;
    right: 100%;
}
.sf-menu {
    border-right: 1px solid #000;
}
.sf-menu>li {
    background-color: transparent;
    border-left: 1px solid #000;
}
.sf-menu>li>a {
    padding: 31px 15px;
    border: none;
    text-transform: uppercase;
}
.isStuck .sf-menu>li>a {
    padding: 15px 15px;
}
@media (min-width: 1200px) {
    .sf-menu>li>a {
        padding: 31px 20px;
    }
    .isStuck .sf-menu>li>a {
        padding: 15px 20px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .sf-menu>li>a {
        font-size: 20px!important;
        line-height: 20px!important;
        padding: 32px 10px 33px;
    }
    .isStuck .sf-menu>li>a {
        padding: 16px 10px 17px;
    }
}
.sf-menu>li>a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: -1;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    background: #2b2b2b;
    background: -moz-linear-gradient(top, #2b2b2b 0%, #303030 50%, #353535 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(50%, #303030), color-stop(100%, #353535));
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #303030 50%, #353535 100%);
    background: -o-linear-gradient(top, #2b2b2b 0%, #303030 50%, #353535 100%);
    background: -ms-linear-gradient(top, #2b2b2b 0%, #303030 50%, #353535 100%);
    background: linear-gradient(to bottom, #2b2b2b 0%, #303030 50%, #353535 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#2b2b2b', endColorstr='#353535', GradientType=0);
}
.sf-menu li ul {
    width: 218px;
    background-color: #353535;
    background-repeat: repeat-x;
}
.sf-menu li li {
    text-align: left;
    background-color: transparent;
}
.sf-menu li li a {
    font-size: 14px;
    padding: 6px 16px 7px 19px;
    color: #fff;
    border: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.sf-menu li li ul {
    background-image: none;
}
.sf-menu>li>a:hover,
.sf-menu>li.sfHover>a,
.sf-menu>li.current-menu-item>a,
.sf-menu>li.current_page_item>a {
    color: #e41f43;
    background: #2b2b2b;
    background: -moz-linear-gradient(top, #2b2b2b 0%, #303030 50%, #353535 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(50%, #303030), color-stop(100%, #353535));
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #303030 50%, #353535 100%);
    background: -o-linear-gradient(top, #2b2b2b 0%, #303030 50%, #353535 100%);
    background: -ms-linear-gradient(top, #2b2b2b 0%, #303030 50%, #353535 100%);
    background: linear-gradient(to bottom, #2b2b2b 0%, #303030 50%, #353535 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#2b2b2b', endColorstr='#353535', GradientType=0);
}
.sf-menu>li>a:hover:before,
.sf-menu>li.sfHover>a:before,
.sf-menu>li.current-menu-item>a:before,
.sf-menu>li.current_page_item>a:before {
    height: 100%;
}
.sf-menu li li>a:hover,
.sf-menu li li.sfHover>a,
.sf-menu li li.current-menu-item>a,
.sf-menu li li.current_page_item>a {
    background: #181818;
    color: #e41f43;
}
.sf-menu a.sf-with-ul {
    padding-right: 15px;
}
@media (min-width: 1200px) {
    .sf-menu a.sf-with-ul {
        padding-right: 20px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .sf-menu a.sf-with-ul {
        padding-right: 10px;
    }
}
.sf-sub-indicator {
    visibility: hidden;
}
.sf-menu ul .sf-sub-indicator {
    position: relative;
    right: 0;
    top: 3px;
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
    background-image: none;
    visibility: visible;
    text-indent: 0;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.sf-menu ul .sf-sub-indicator:before {
    content: '\f0da';
    font-size: 14px;
    font-family: FontAwesome;
    line-height: 1em;
    color: #fff;
    padding: 0 0 0 13px;
}
.select-menu {
    color: #000;
}
#content {
    padding-top: 16px;
}
.content-holder {
    padding-bottom: 41px;
}
@media (min-width: 768px) and (max-width: 979px) {
    .error404-holder_num {
        font-size: 210px;
    }
}
.title-section {
    padding: 0;
}
.title-header {
    font-size: 16px;
    overflow: visible;
    margin: 0 0 3px 0;
    font: bold 16px/20px Lato;
    color: #ffffff;
}
.breadcrumb__t {
    padding: 0;
    background-color: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.breadcrumb__t li {
    text-shadow: none;
    display: inline-block;
    vertical-align: top;
    line-height: 34px;
}
.breadcrumb__t li.active {
    color: #fff;
}
.breadcrumb__t li.divider {
    width: 1px;
    height: 34px;
    background-color: #484848;
    margin: 0 11px;
}
.breadcrumb__t li.divider:after {
    content: '';
}
.post__holder .post-header .post-title {
    margin: 0 0 20px 0;
    padding: 11px 19px 12px 0px;
    font-size: 16px;
}
@media (min-width: 1200px) {
    .post__holder .post-header .post-title {
        margin-bottom: 30px;
    }
}
.post__holder .post-header .post-title a:hover,
.post__holder .post-header .post-title a:focus {
    color: #e41f43;
}
.post__holder .featured-thumbnail.large {
    margin: 0 0 25px 0;
}
.post__holder .post_content {
    padding-bottom: 5px;
}
.post__holder .post_content h1,
.post__holder .post_content h2,
.post__holder .post_content h3,
.post__holder .post_content h4,
.post__holder .post_content h5,
.post__holder .post_content h6 {
    margin: 0 0 12px;
}
.post__holder .post_content .btn-primary {
    font-size: 16px;
    padding: 11px 23px;
}
.post_meta {
    font-size: 13px;
    border: none;
    padding: 0;
    margin-bottom: 27px;
}
.post_meta i {
    color: #e41f43;
    padding-right: 5px;
}
.post_meta a {
    color: #8c8c8c;
}
.post_meta a:hover,
.post_meta a:focus {
    color: #ffffff;
}
.post_meta div[class^="post_"] {
    padding: 0 17px 0 0;
}
.share-buttons {
    margin-bottom: 20px;
    padding: 0;
}
@media (min-width: 1200px) {
    .share-buttons {
        margin-bottom: 30px;
    }
}
.share-buttons span,
.share-buttons li {
    line-height: 18px;
}
.post-author {
    padding: 0;
    border: none;
    margin-bottom: 15px;
    background-color: transparent;
}
@media (min-width: 1200px) {
    .post-author {
        margin-bottom: 25px;
    }
}
.post-author_h {
    font-size: 16px;
    font-weight: bold;
    background-color: #282828;
    color: #fff;
    padding: 11px 19px 12px;
    margin: 0 0 15px 0;
}
@media (min-width: 1200px) {
    .post-author_h {
        margin-bottom: 25px;
    }
    .post-author_h a {
        color: #fff;
    }
    .post-author_h a:hover {
        color: #e41f43;
    }
}
.post-author_link {
    margin-top: 19px;
}
.post-author_gravatar {
    margin: 5px 20px 0 0;
}
@media (min-width: 1200px) {
    .post-author_gravatar {
        margin-right: 30px;
    }
}
.post-author_gravatar img {
    padding: 0;
    border: none;
    background-color: transparent;
}
.post-author .post-author_desc {
    overflow: visible;
    margin-top: 0;
}
@media (min-width: 1200px) {
    .post-author .post-author_desc {
        overflow: hidden;
    }
}
.post-author .post-author_desc .post-author_link {
    font-size: 13px;
    color: #fff;
}
.post-author .post-author_desc .post-author_link p {
    margin-bottom: 0;
}
.post-author .post-author_desc .post-author_link a {
    text-transform: capitalize;
    color: #e41f43;
}
.post-author .post-author_desc .post-author_link a:hover {
    color: #fff;
}
#recent-author-posts .post__holder {
    margin-bottom: 40px;
}
#recent-author-comments {
    padding-top: 30px;
}
#recent-author-comments ul {
    margin-left: 0;
}
#recent-author-comments ul li {
    list-style-type: none;
    margin-bottom: 5px;
}
.related-posts {
    margin-bottom: 18px;
}
@media (min-width: 1200px) {
    .related-posts {
        margin-bottom: 28px;
    }
}
.related-posts_h {
    font-size: 16px;
    font-weight: bold;
    background-color: #282828;
    color: #fff;
    padding: 11px 19px 12px;
    margin: 0 0 20px 0;
}
@media (min-width: 1200px) {
    .related-posts_h {
        margin-bottom: 30px;
    }
}
.related-posts_item {
    font-size: 13px;
    margin-bottom: 0;
}
.related-posts .featured-thumbnail {
    margin: 0 0 11px 0;
}
.testimonial {
    padding: 0;
    border: none;
    background: none;
    font-style: normal;
    font-family: Lato;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.testimonial_bq p {
    font-size: 13px;
    line-height: 20px;
}
.testimonial small {
    font-family: Lato;
    font-size: 12px;
}
.pagination__posts ul li a {
    background: #8c8c8c;
}
.pagination__posts ul {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.pagination__posts ul li a {
    padding: 5px 12px!important;
    margin: 0 2px 4px;
    border: none!important;
    text-transform: uppercase;
    color: #fff;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.pagination__posts ul li a:hover {
    color: #fff;
    background: #e41f43!important;
}
.pagination__posts ul .active a {
    font-weight: bold;
    color: #fff;
    background: #e41f43!important;
}
@media (max-width: 480px) {
    .pagination__posts ul .prev,
    .pagination__posts ul .next,
    .pagination__posts ul .last,
    .pagination__posts ul .first {
        display: none;
    }
}
.page-header {
    border-color: #353535;
}
.single-pager {
    border-color: #353535;
}
.single-pager a {
    border: none!important;
    background: #e41f43!important;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.single-pager a:hover,
.single-pager a:focus {
    background: #000!important;
    color: #e41f43;
}
.filter-wrapper {
    background-color: #282828;
    padding: 12px 18px 11px;
    margin-bottom: 20px;
}
@media (min-width: 1200px) {
    .filter-wrapper {
        margin-bottom: 30px;
    }
}
.filter-wrapper .pull-right {
    float: left!important;
}
.filter-wrapper strong {
    font-weight: normal;
    padding: 0;
    color: #fff;
    margin-right: 13px;
}
.nav-pills {
    margin-bottom: 0;
}
.nav-pills li {
    line-height: 20px;
    padding-left: 12px;
    margin-left: 12px;
    border-left: 1px solid #3e3e3e;
}
.nav-pills li:first-child {
    border: none;
    padding-left: 0;
    margin-left: 0;
}
.nav-pills li a {
    padding: 0!important;
    margin: 0;
    background: none!important;
    line-height: 20px;
    color: #fff;
}
@media (max-width: 480px) {
    .nav-pills li a {
        padding: 0;
    }
}
.nav-pills li a:hover,
.nav-pills li a:focus {
    color: #e41f43;
}
.nav-pills li.active a {
    color: #e41f43!important;
}
.filterable-portfolio .portfolio_item {
    text-align: center;
}
.filterable-portfolio .caption__portfolio {
    padding-top: 10px;
}
.filterable-portfolio h3 {
    margin-top: 2px;
}
.filterable-portfolio h3 a {
    color: #fff;
}
.filterable-portfolio h3 a:hover,
.filterable-portfolio h3 a:focus {
    color: #e41f43;
}
.filterable-portfolio .btn-primary {
    font-size: 16px;
    padding: 11px 23px;
}
.portfolio-meta {
    border-color: #353535;
}
.portfolio-meta-list {
    border-color: #353535;
}
.portfolio-meta i {
    font-size: 14px;
    color: #e41f43;
}
.portfolio-meta a {
    color: #8c8c8c;
}
.portfolio-meta a:hover,
.portfolio-meta a:focus {
    color: #ffffff;
}
.zoom-icon {
    background: rgba(228, 31, 67, 0.8);
}
.no-rgba .zoom-icon {
    background: url(images/yellow-opacity-80.png);
}
.zoom-icon:before {
    margin: -23px 0 0 -23px;
    width: 46px;
    height: 46px;
    background: url(images/magnify-alt.png) 50% 50% no-repeat;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.featured-thumbnail a:hover .zoom-icon:before,
a.thumbnail:hover .zoom-icon:before,
.thumbnail__portfolio a:hover .zoom-icon:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.comments-h {
    font-size: 16px;
    font-weight: bold;
    background-color: #232323;
    color: #fff;
    padding: 11px 19px 12px;
    margin: 0 0 15px 0;
}
@media (min-width: 1200px) {
    .comments-h {
        margin-bottom: 25px;
    }
}
.comment .comment-body {
    margin-bottom: 22px;
    padding: 0;
    border: none;
    background-color: transparent;
}
.comment .comment-body p {
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .comment .comment-body .extra-wrap {
        overflow: visible;
    }
}
.comment.bypostauthor .comment-body {
    background-color: transparent;
}
.comment-author {
    margin: 5px 20px 0 0;
}
@media (min-width: 1200px) {
    .comment-author {
        margin-right: 30px;
    }
}
.comment-author .author {
    width: 80px;
    padding-top: 10px;
    font-size: 13px;
    font-weight: normal;
}
@media (max-width: 767px) {
    .comment-author .author {
        margin-bottom: 10px;
    }
}
.comment-author .author i {
    font-size: 14px;
    color: #e41f43;
    padding: 0 5px 0 1px;
}
.comment-meta {
    float: left;
    font-size: 13px;
}
.comment-meta i {
    font-size: 14px;
    color: #e41f43;
    padding-right: 6px;
}
.reply {
    margin-left: 0;
    padding-top: 15px;
}
.reply .comment-reply-link {
    background: #e41f43;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 11px 23px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
.reply .comment-reply-link:before,
.reply .comment-reply-link:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: #fff;
    z-index: -1;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.reply .comment-reply-link:before {
    top: -50%;
}
.reply .comment-reply-link:after {
    bottom: -50%;
}
.reply .comment-reply-link:hover,
.reply .comment-reply-link:focus {
    color: #000;
    background: #e41f43;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
.reply .comment-reply-link:hover:before,
.reply .comment-reply-link:hover:after,
.reply .comment-reply-link:focus:before,
.reply .comment-reply-link:focus:after {
    height: 100%;
}
.reply .comment-reply-link:hover:before,
.reply .comment-reply-link:focus:before {
    top: auto;
    bottom: 50%;
}
.reply .comment-reply-link:hover:after,
.reply .comment-reply-link:focus:after {
    bottom: auto;
    top: 50%;
}
#respond h3 {
    font-size: 16px;
    font-weight: bold;
    background-color: #282828;
    color: #fff;
    padding: 11px 19px 12px;
    margin: 0 0 20px 0;
}
@media (min-width: 1200px) {
    #respond h3 {
        margin-bottom: 30px;
    }
}
#respond form .btn {
    margin-top: 0;
}
.comment-list ul.children {
    margin-left: 50px;
}
@media (min-width: 768px) and (max-width: 979px) {
    .comment-list ul.children {
        margin: 0;
    }
}
@media (max-width: 767px) {
    .comment-list ul.children {
        margin: 0;
    }
}
#commentform p {
    margin-bottom: 31px;
    *zoom: 1;
}
#commentform p:before,
#commentform p:after {
    display: table;
    content: "";
    line-height: 0;
}
#commentform p:after {
    clear: both;
}
#commentform p.field {
    margin-bottom: 26px;
}
#commentform input[type="text"] {
    width: 344px;
    padding: 6px 12px;
}
@media (min-width: 1200px) {
    #commentform input[type="text"] {
        padding-left: 19px;
        padding-right: 19px;
    }
}
#commentform textarea {
    padding: 6px 12px;
    min-height: 364px;
    height: 364px;
}
@media (min-width: 1200px) {
    #commentform textarea {
        padding-left: 19px;
        padding-right: 19px;
    }
}
@media (max-width: 767px) {
    #commentform input[type="text"] {
        width: 100%;
        height: 34px;
    }
}
#sidebar {
    padding-top: 16px;
}
#sidebar .widget {
    margin-bottom: 20px;
}
@media (min-width: 1200px) {
    #sidebar .widget {
        margin-bottom: 30px;
    }
}
#sidebar .widget-title {
    font-size: 16px;
    font-weight: bold;
    background-color: #282828;
    color: #fff;
    padding: 11px 19px 12px;
    margin: 0 0 20px 0!important;
}
@media (min-width: 1200px) {
    #sidebar .widget-title {
        margin-bottom: 30px!important;
    }
}
#sidebar .widget_meta ul,
#sidebar .widget_pages ul,
#sidebar .widget_archive ul,
#sidebar .widget_categories ul,
#sidebar .widget_recent_entries ul {
    margin: 0;
}
#sidebar .widget_meta ul>li,
#sidebar .widget_pages ul>li,
#sidebar .widget_archive ul>li,
#sidebar .widget_categories ul>li,
#sidebar .widget_recent_entries ul>li {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid #2b2b2b;
    list-style-type: none;
}
@media (min-width: 768px) and (max-width: 979px) {
    #sidebar .widget_meta ul>li,
    #sidebar .widget_pages ul>li,
    #sidebar .widget_archive ul>li,
    #sidebar .widget_categories ul>li,
    #sidebar .widget_recent_entries ul>li {
        font-size: 14px;
    }
}
#sidebar .widget_meta ul>li:first-child,
#sidebar .widget_pages ul>li:first-child,
#sidebar .widget_archive ul>li:first-child,
#sidebar .widget_categories ul>li:first-child,
#sidebar .widget_recent_entries ul>li:first-child {
    border-top: none;
}
#sidebar .widget_meta ul>li:before,
#sidebar .widget_pages ul>li:before,
#sidebar .widget_archive ul>li:before,
#sidebar .widget_categories ul>li:before,
#sidebar .widget_recent_entries ul>li:before {
    display: none;
}
#sidebar .widget_meta ul>li>a,
#sidebar .widget_pages ul>li>a,
#sidebar .widget_archive ul>li>a,
#sidebar .widget_categories ul>li>a,
#sidebar .widget_recent_entries ul>li>a {
    padding: 11px 14px;
    background-color: #232323;
    color: #fff;
    display: block;
    position: relative;
    z-index: 1;
}
@media (min-width: 768px) and (max-width: 979px) {
    #sidebar .widget_meta ul>li>a,
    #sidebar .widget_pages ul>li>a,
    #sidebar .widget_archive ul>li>a,
    #sidebar .widget_categories ul>li>a,
    #sidebar .widget_recent_entries ul>li>a {
        padding: 9px 10px;
    }
}
#sidebar .widget_meta ul>li>a:before,
#sidebar .widget_pages ul>li>a:before,
#sidebar .widget_archive ul>li>a:before,
#sidebar .widget_categories ul>li>a:before,
#sidebar .widget_recent_entries ul>li>a:before {
    content: '';
    background-color: #e41f43;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}
#sidebar .widget_meta ul>li>a:hover,
#sidebar .widget_meta ul>li>a:focus,
#sidebar .widget_pages ul>li>a:hover,
#sidebar .widget_pages ul>li>a:focus,
#sidebar .widget_archive ul>li>a:hover,
#sidebar .widget_archive ul>li>a:focus,
#sidebar .widget_categories ul>li>a:hover,
#sidebar .widget_categories ul>li>a:focus,
#sidebar .widget_recent_entries ul>li>a:hover,
#sidebar .widget_recent_entries ul>li>a:focus {
    color: #000;
}
#sidebar .widget_meta ul>li>a:hover:before,
#sidebar .widget_meta ul>li>a:focus:before,
#sidebar .widget_pages ul>li>a:hover:before,
#sidebar .widget_pages ul>li>a:focus:before,
#sidebar .widget_archive ul>li>a:hover:before,
#sidebar .widget_archive ul>li>a:focus:before,
#sidebar .widget_categories ul>li>a:hover:before,
#sidebar .widget_categories ul>li>a:focus:before,
#sidebar .widget_recent_entries ul>li>a:hover:before,
#sidebar .widget_recent_entries ul>li>a:focus:before {
    width: 100%;
}
#sidebar .widget_categories .widget-title {
    display: none;
}
#sidebar .widget_pages ul ul {
    border-top: 1px solid #2b2b2b;
}
#sidebar .widget_pages ul ul li a {
    padding-left: 35px;
}
#sidebar .widget_recent_comments ul {
    margin: 0;
}
#sidebar .widget_recent_comments ul li {
    font-size: 16px;
    font-weight: bold;
    list-style-type: none;
    padding: 11px 14px;
    background-color: #232323;
    border-top: 1px solid #2b2b2b;
}
#sidebar .widget_recent_comments ul li:first-child {
    border: none;
}
#sidebar .widget_recent_comments ul li a {
    text-transform: uppercase;
    color: #ffffff;
}
#sidebar .widget_recent_comments ul li a:hover,
#sidebar .widget_recent_comments ul li a:focus {
    color: #e41f43;
}
#sidebar .flexslider ul>li {
    border: none;
}
.widget_header {
    margin-bottom: 0;
}
@media (max-width: 767px) {
    .widget_header {
        margin-bottom: 21px;
    }
}
.widget_header .widget-title {
    display: none;
}
.widget_header ul {
    margin: 0;
}
@media (max-width: 767px) {
    .widget_header ul {
        text-align: center;
    }
}
.widget_header ul li {
    list-style-type: none;
    float: left;
    border-left: 1px solid #353535;
    padding-left: 12px;
    margin-left: 12px;
    line-height: 34px;
}
@media (min-width: 768px) and (max-width: 979px) {
    .widget_header ul li {
        padding-left: 8px;
        margin-left: 8px;
    }
}
@media (max-width: 767px) {
    .widget_header ul li {
        float: none;
        display: inline-block;
        vertical-align: top;
    }
}
@media (max-width: 480px) {
    .widget_header ul li {
        display: block;
        border-left: none;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-top: 1px solid #353535;
    }
}
.widget_header ul li:first-child {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
}
@media (max-width: 480px) {
    .widget_header ul li:first-child {
        border-top: none;
    }
}
.widget_header ul li a {
    color: #fff;
}
.widget_header ul li a abbr {
    border-color: #fff;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    transition: border-color 0.3s;
}
.widget_header ul li a:hover,
.widget_header ul li a:focus {
    color: #e41f43;
}
.widget_header ul li a:hover abbr,
.widget_header ul li a:focus abbr {
    border-color: #e41f43;
}
#wp-calendar td#today {
    font-weight: bold;
    color: #e41f43;
}
#wp-calendar caption {
    color: #e41f43;
}
#wp-calendar thead th {
    color: #e41f43;
}
.flickr_li {
    border: none!important;
}
.flickr_li .thumbnail {
    display: inline-block!important;
    padding: 0!important;
    background: none!important;
}
.flickr_li .thumbnail:before {
    display: none;
}
.flickr_li .thumbnail:hover,
.flickr_li .thumbnail:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.post-list {
    margin-top: -5px!important;
    margin-bottom: -10px!important;
}
.post-list li {
    padding: 0;
    margin: 15px 0 0 0!important;
    border: none!important;
    text-transform: none!important;
    font-weight: normal!important;
    font-size: 13px!important;
}
.post-list li:first-child {
    margin-top: 0!important;
}
.post-list li a {
    padding: 0!important;
    background: none!important;
    display: inline!important;
}
.post-list li a:before {
    display: none!important;
}
.post-list .featured-thumbnail {
    margin: 5px 20px 10px 0;
}
@media (min-width: 1200px) {
    .post-list .featured-thumbnail {
        margin-right: 30px;
    }
}
.post-list time i {
    color: #e41f43;
    padding-right: 6px;
}
.post-list_h {
    margin: 1px 0 12px 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.post-list_h a {
    color: #fff;
}
.post-list_h a:hover,
.post-list_h a:focus {
    color: #e41f43;
}
.post-list .excerpt {
    margin-bottom: 0;
    display: inline;
    vertical-align: top;
    padding-right: 2px;
}
.post-list .btn-link {
    vertical-align: top;
    color: #e41f43!important;
}
.post-list .btn-link:hover,
.post-list .btn-link:focus {
    color: #fff!important;
}
.post-list .btn [class^="icon-"],
.post-list .btn [class*=" icon-"] {
    margin-right: 0;
}
.comments-custom {
    margin-top: -5px!important;
}
.comments-custom li {
    margin: 20px 0 0 0!important;
    padding: 0;
    border: none!important;
    text-transform: none!important;
    font-size: 13px!important;
    font-weight: normal!important;
}
.comments-custom li:first-child {
    margin-top: 0!important;
}
.comments-custom .featured-thumbnail {
    margin: 5px 20px 0 0;
}
@media (min-width: 1200px) {
    .comments-custom .featured-thumbnail {
        margin-right: 30px;
    }
}
.comments-custom_txt {
    padding: 10px 0 0 0;
    margin: 0;
    border: none;
}
.comments-custom_txt a i {
    float: none;
    min-width: 0;
    top: 0;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
.comments-custom_txt a:hover,
.comments-custom_txt a:focus {
    text-decoration: none;
}
.comments-custom_txt a:hover i,
.comments-custom_txt a:focus i {
    color: #fff;
}
.comments-custom_h_title,
.comments-custom_h_author {
    margin-bottom: 0;
}
.comments-custom_h_title {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 11px;
}
.comments-custom_h_title a {
    color: #fff;
}
.comments-custom_h_title a:hover,
.comments-custom_h_title a:focus {
    color: #e41f43;
}
.comments-custom_h_author {
    font-weight: normal;
    text-transform: capitalize;
    color: #8c8c8c;
}
.comments-custom time {
    display: block;
    margin-bottom: 9px;
}
.comments-custom i {
    font-size: 14px;
    margin-right: 0;
    color: #e41f43;
    min-width: 19px;
    text-align: left;
    position: relative;
    top: 2px;
}
.comments-custom .meta_format {
    margin-top: 0;
    font-size: 13px;
}
.recent-posts_li {
    text-align: center;
}
.recent-posts_li h5 {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.recent-posts_li h5 a {
    color: #fff;
}
.recent-posts_li h5 a:hover,
.recent-posts_li h5 a:focus {
    color: #e41f43;
}
.recent-posts_li .meta {
    margin-bottom: 0;
    color: #8c8c8c;
    font-size: 13px;
    line-height: 18px;
    text-transform: none;
}
.recent-posts_li .meta a {
    color: inherit;
}
.recent-posts_li .meta a:hover,
.recent-posts_li .meta a:focus {
    color: #e41f43;
}
.recent-posts .featured-thumbnail a {
    background-color: #000;
}
.recent-posts .featured-thumbnail a img {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.recent-posts .featured-thumbnail a:hover img,
.recent-posts .featured-thumbnail a:focus img {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.recent-posts.custom-grid {
    margin: -27px 0 11px -20px!important;
}
@media (min-width: 1200px) {
    .recent-posts.custom-grid {
        margin-left: -30px!important;
    }
}
@media (max-width: 767px) {
    .recent-posts.custom-grid {
        margin-left: -5%!important;
        margin-bottom: 20px!important;
    }
}
.recent-posts.custom-grid li {
    margin: 27px 0 0 20px;
    display: inline-block;
    vertical-align: top;
    float: none;
    width: 140px;
}
@media (min-width: 1200px) {
    .recent-posts.custom-grid li {
        margin-left: 30px;
        width: 170px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .recent-posts.custom-grid li {
        width: 135px;
    }
}
@media (max-width: 767px) {
    .recent-posts.custom-grid li {
        width: 45%;
        margin-left: 5%;
    }
}
.recent-posts.custom-grid .post-date,
.recent-posts.custom-grid .post-comments {
    display: none;
}
.recent-posts.custom-grid .featured-thumbnail {
    float: none;
    margin: 0 0 10px 0;
}
@media (max-width: 767px) {
    .recent-posts.custom-grid .featured-thumbnail {
        width: auto!important;
        display: inline-block;
        vertical-align: top;
    }
}
@media (max-width: 767px) {
    .recent-posts.custom-grid .featured-thumbnail img {
        max-width: none;
        width: 100%;
    }
}
.recent-posts.custom-grid h5 {
    margin: 2px 0 0 0;
}
.banner-wrap {
    text-align: center;
    position: relative;
}
.banner-wrap h5 {
    color: #000;
}
.banner-wrap>a {
    display: block;
    position: relative;
}
.banner-wrap>a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.banner-wrap>a:hover .featured-thumbnail img,
.banner-wrap>a:focus .featured-thumbnail img {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.banner-wrap .featured-thumbnail {
    margin: 0;
}
.banner-wrap .featured-thumbnail img {
    width: 100%;
    max-width: none;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.banner-wrap .desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.banner-wrap .desc-inner {
    padding: 0 8px;
}
@media (min-width: 1200px) {
    .banner-wrap .desc-inner {
        padding: 0 12px;
    }
}
.banner-wrap h5 {
    text-transform: uppercase;
    margin: 0;
}
.banner-wrap.style-1 {
    margin: 0 0 27px 0;
}
@media (max-width: 767px) {
    .banner-wrap.style-1 {
        max-width: 170px;
    }
}
.banner-wrap.style-1>a:after {
    height: 263px;
    background-image: url(images/banner-tail.png);
}
.banner-wrap.style-1 .desc {
    bottom: 23px;
}
@media (min-width: 768px) and (max-width: 979px) {
    .banner-wrap.style-1 .desc {
        bottom: 15px;
    }
}
.banner-wrap.style-1 h5 {
    font-size: 20px;
    line-height: 25px;
}
@media (min-width: 1200px) {
    .banner-wrap.style-1 h5 {
        font-size: 26px;
        line-height: 33px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .banner-wrap.style-1 h5 {
        font-size: 14px;
        line-height: 20px;
    }
}
.banner-wrap.style-2 {
    margin: 0 0 20px 0;
}
@media (min-width: 1200px) {
    .banner-wrap.style-2 {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .banner-wrap.style-2 {
        max-width: 370px;
    }
}
.banner-wrap.style-2>a {
    background-color: #000;
}
.banner-wrap.style-2>a:after {
    height: 167px;
    background: none;
}
.banner-wrap.style-2>a:hover .featured-thumbnail img,
.banner-wrap.style-2>a:focus .featured-thumbnail img {
    opacity: 1;
    filter: alpha(opacity=100);
}
.banner-wrap.style-2 .featured-thumbnail img {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.banner-wrap.style-2 .desc {
    bottom: 10px;
}
@media (min-width: 1200px) {
    .banner-wrap.style-2 .desc {
        bottom: 16px;
    }
}
.banner-wrap.style-2 h5 {
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}
@media (min-width: 1200px) {
    .banner-wrap.style-2 h5 {
        font-size: 29px;
        line-height: 37px;
        margin-bottom: 3px;
    }
}
@media (max-width: 979px) {
    .banner-wrap.style-2 h5 {
        font-size: 16px;
        line-height: 20px;
    }
}
.banner-wrap.style-2 p {
    font-size: 13px;
    text-transform: uppercase;
    color: #e41f43;
    margin: 0;
}
@media (min-width: 1200px) {
    .banner-wrap.style-2 p {
        font-size: 14px;
    }
}
@media (max-width: 979px) {
    .banner-wrap.style-2 p {
        display: none;
    }
}
.es-carousel {
    margin-bottom: 31px;
}
.es-carousel_list li {
    text-align: center;
}
.es-carousel_list li .featured-thumbnail {
    margin: 0 0 10px 0;
}
.es-carousel_list li .featured-thumbnail a {
    background-color: #000;
}
.es-carousel_list li .featured-thumbnail a img {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.es-carousel_list li .featured-thumbnail a:hover img,
.es-carousel_list li .featured-thumbnail a:focus img {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.es-carousel_list li .post-category {
    color: #8c8c8c;
}
.es-carousel_list li .post-category a {
    color: inherit;
}
.es-carousel_list li .post-category a:hover,
.es-carousel_list li .post-category a:focus {
    color: #e41f43;
}
.es-carousel_list li h5 {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 2px 0 0 0;
}
.es-carousel_list li h5 a {
    color: #fff;
    text-decoration: none;
}
.es-carousel_list li h5 a:hover,
.es-carousel_list li h5 a:focus {
    color: #e41f43;
}
.es-nav .es-nav-prev,
.es-nav .es-nav-next {
    background: none;
    width: auto;
    height: auto;
    text-indent: 0;
    margin: 0;
    top: 105px;
    opacity: 1;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.es-nav .es-nav-prev:before,
.es-nav .es-nav-next:before {
    font-size: 45px;
    font-family: FontAwesome;
    line-height: 1em;
    color: #000;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.es-nav .es-nav-prev:hover:before,
.es-nav .es-nav-next:hover:before {
    color: #ffffff;
}
.es-nav .es-nav-prev {
    left: 21px!important;
}
.es-nav .es-nav-prev:before {
    content: '\f104';
}
.es-nav .es-nav-next {
    right: 21px!important;
}
.es-nav .es-nav-next:before {
    content: '\f105';
}
.footer {
    background-color: #171717;
    border: none;
    padding: 16px 0;
}
nav.footer-nav {
    margin-bottom: 0;
}
nav.footer-nav ul li a {
    vertical-align: top;
}
nav.footer-nav ul li a:hover,
nav.footer-nav ul li a:focus {
    color: #ffffff;
}
nav.footer-nav ul li.current-menu-item a {
    color: #ffffff;
    text-decoration: none;
}
.copyright .span6 {
    margin-left: 0px!important;
}
.copyright {
    padding: 0;
}
.footer-text {
    color: #8c8c8c;
    font-size: 11px;
    line-height: 20px;
}
.footer-text a {
    color: #8c8c8c;
}
.footer-text a:hover,
.footer-text a:focus {
    color: #e41f43;
}
.vr {
    padding: 35px 0;
}
@media (max-width: 767px) {
    .vr {
        border-bottom: 1px solid #ffffff;
    }
}
.vr:before,
.vr:after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #2b2b2b;
    position: absolute;
    top: 0;
}
@media (max-width: 767px) {
    .vr:before,
    .vr:after {
        display: none;
    }
}
.vr:before {
    left: 0;
}
.vr:after {
    right: -21px;
}
@media (min-width: 1200px) {
    .vr:after {
        right: -31px;
    }
}
.vr-first:before {
    display: none;
}
.vr-last:after {
    display: none;
}
@media (max-width: 767px) {
    .vr-last {
        border: none;
    }
}
.content_box {
    background-color: #232323;
}
.content_box:before,
.content_box:after {
    display: none;
}
.content_box .arrow-list {
    padding: 0 0 0 20px;
}
@media (min-width: 1200px) {
    .content_box .arrow-list {
        padding: 0 0 0 40px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .content_box .arrow-list {
        padding: 0 0 0 12px;
    }
}
.content_box .arrow-list>ul {
    margin: 0;
}
.spacer {
    height: 20px;
}
@media (min-width: 1200px) {
    .spacer {
        height: 30px;
    }
}
.title-box {
    margin-bottom: 20px;
    padding: 11px 18px 12px;
    background-color: #282828;
}
@media (min-width: 1200px) {
    .title-box {
        margin-bottom: 30px;
    }
}
.flexslider {
    overflow: visible!important;
}
.flexslider .slides>li {
    font-weight: normal!important;
    text-transform: none!important;
}
.flexslider .slides>li>a {
    padding: 0!important;
    background: none!important;
}
.flexslider .slides>li>a:before {
    display: none!important;
}
.flexslider.extra-style {
    margin-bottom: 20px;
}
@media (min-width: 1200px) {
    .flexslider.extra-style {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .flexslider.extra-style {
        margin-top: 25px;
    }
}
.flexslider.extra-style .slides li .desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-position: 0 100%;
    background: none;
    min-height: 167px;
}
.flexslider.extra-style .slides li .desc-inner {
    padding: 0 50px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
@media (min-width: 1200px) {
    .flexslider.extra-style .slides li .desc-inner {
        padding: 0 145px 46px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .flexslider.extra-style .slides li .desc-inner {
        padding: 0 80px 20px;
    }
}
@media (max-width: 480px) {
    .flexslider.extra-style .slides li .desc-inner {
        padding: 0 40px 20px;
    }
}
.flexslider.extra-style .slides li .featured-thumbnail {
    margin: 0;
}
.flexslider.extra-style .slides li .featured-thumbnail a {
    background-color: #000;
}
.flexslider.extra-style .slides li .featured-thumbnail a img {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.ie8 .flexslider.extra-style .slides li .featured-thumbnail a img {
    max-width: none!important;
}
.flexslider.extra-style .slides li h5 {
    font-size: 49px;
    line-height: 50px;
    margin: 0 0 12px 0;
}
@media (min-width: 1200px) {
    .flexslider.extra-style .slides li h5 {
        font-size: 59px;
        line-height: 60px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .flexslider.extra-style .slides li h5 {
        font-size: 30px;
        line-height: 31px;
    }
}
@media (max-width: 767px) {
    .flexslider.extra-style .slides li h5 {
        font-size: 30px;
        line-height: 31px;
    }
}
@media (max-width: 480px) {
    .flexslider.extra-style .slides li h5 {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 0;
    }
}
.flexslider.extra-style .slides li h5 a {
    color: #fff;
}
.flexslider.extra-style .slides li h5 a:hover,
.flexslider.extra-style .slides li h5 a:focus {
    color: #e41f43;
}
.flexslider.extra-style .slides li .excerpt {
    font-size: 14px;
    text-transform: uppercase;
    color: #e41f43;
    margin: 0;
}
@media (max-width: 480px) {
    .flexslider.extra-style .slides li .excerpt {
        display: none;
    }
}
.flex-direction-nav a {
    opacity: 1!important;
    text-shadow: none;
    overflow: visible;
    padding: 0!important;
    background-color: transparent!important;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.flex-direction-nav a:before,
.flex-direction-nav a:after {
    position: absolute;
    top: 0;
    font-size: 45px;
    font-family: FontAwesome;
    line-height: 1em;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.widget .flex-direction-nav a:before,
.widget .flex-direction-nav a:after {
    color: #ffffff!important;
}
.flex-direction-nav a:before {
    color: #fff;
}
.flex-direction-nav a:after {
    color: #e41f43;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
}
.ie8 .flex-direction-nav a:after {
    visibility: hidden;
}
.flex-direction-nav a.flex-prev,
.flex-direction-nav a.flex-next {
    width: auto;
    height: auto;
}
.flex-direction-nav a.flex-prev {
    left: 21px!important;
}
@media (max-width: 480px) {
    .flex-direction-nav a.flex-prev {
        left: 10px!important;
    }
}
.flex-direction-nav a.flex-prev:before,
.flex-direction-nav a.flex-prev:after {
    left: 0;
    content: '\f104';
}
.flex-direction-nav a.flex-next {
    right: 21px!important;
}
@media (max-width: 480px) {
    .flex-direction-nav a.flex-next {
        right: 10px!important;
    }
}
.flex-direction-nav a.flex-next:before,
.flex-direction-nav a.flex-next:after {
    right: 0;
    content: '\f105';
}
.widget .flex-direction-nav a:hover:before,
.widget .flex-direction-nav a:hover:after {
    color: #e41f43!important;
}
.flex-direction-nav a:hover:before {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0);
}
.ie8 .flex-direction-nav a:hover:before {
    visibility: hidden;
}
.flex-direction-nav a:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
}
.ie8 .flex-direction-nav a:hover:after {
    visibility: visible;
}
.extra-style .flex-control-paging {
    bottom: -29px;
}
.flex-control-paging li a {
    padding: 0!important;
    background-color: #323232;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.flex-control-paging li a:before {
    display: none!important;
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
    background-color: #e41f43;
}
.thumbnail,
.featured-thumbnail {
    padding: 0;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.list.styled>ul li:before {
    font-size: 14px;
    color: #e41f43;
}
.list.styled>ul li a {
    color: #fff;
}
.list.styled>ul li a:hover,
.list.styled>ul li a:focus {
    color: #e41f43;
}
.list.styled.arrow-list>ul li {
    margin: 18px -10px 0 0;
}
.list.styled.arrow-list>ul li:first-child {
    margin-top: 0;
}
.list.styled.arrow-list>ul li:before {
    content: '\f105';
    margin-right: 0;
    min-width: 15px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
@media (min-width: 768px) and (max-width: 979px) {
    .list.styled.arrow-list>ul li:before {
        min-width: 12px;
        width: 12px;
    }
}
.list.styled.arrow-list>ul li:hover:before {
    -webkit-transform: translate(5px, 0);
    -moz-transform: translate(5px, 0);
    -ms-transform: translate(5px, 0);
    -o-transform: translate(5px, 0);
    transform: translate(5px, 0);
}
@media (min-width: 768px) and (max-width: 979px) {
    .list.styled.arrow-list>ul li:hover:before {
        -webkit-transform: translate(3px, 0);
        -moz-transform: translate(3px, 0);
        -ms-transform: translate(3px, 0);
        -o-transform: translate(3px, 0);
        transform: translate(3px, 0);
    }
}
.list.styled.custom-list {
    margin-bottom: 20px;
}
@media (min-width: 1200px) {
    .list.styled.custom-list {
        margin-bottom: 30px;
    }
}
.list.styled.custom-list>ul {
    margin: 0;
}
.list.styled.custom-list>ul li {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid #2b2b2b;
}
@media (min-width: 768px) and (max-width: 979px) {
    .list.styled.custom-list>ul li {
        font-size: 14px;
    }
}
.list.styled.custom-list>ul li:first-child {
    border-top: none;
}
.list.styled.custom-list>ul li:before {
    display: none;
}
.list.styled.custom-list>ul li a {
    padding: 11px 14px;
    background-color: #232323;
    color: #fff;
    display: block;
    position: relative;
    z-index: 1;
}
@media (min-width: 768px) and (max-width: 979px) {
    .list.styled.custom-list>ul li a {
        padding: 9px 10px;
    }
}
.list.styled.custom-list>ul li a:before {
    content: '';
    background-color: #e41f43;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}
.list.styled.custom-list>ul li a:hover,
.list.styled.custom-list>ul li a:focus {
    color: #000;
}
.list.styled.custom-list>ul li a:hover:before,
.list.styled.custom-list>ul li a:focus:before {
    width: 100%;
}
input[type="submit"],
input[type="reset"] {
    font-size: 16px;
    height: 42px;
    padding-left: 23px;
    padding-right: 23px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus {
    background: #fff;
    color: #000;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    color: #8c8c8c;
    padding: 6px 12px;
    border: 1px solid #353535;
    background-color: #202020;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
@media (min-width: 1200px) {
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        padding-left: 19px;
        padding-right: 19px;
    }
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #e41f43;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
textarea {
    border-color: #353535!important;
}
textarea:focus {
    border-color: #e41f43!important;
}
.wpcf7-form p.field input {
    padding: 6px 12px;
}
@media (min-width: 1200px) {
    .wpcf7-form p.field input {
        padding-left: 19px;
        padding-right: 19px;
    }
}
.wpcf7-form textarea {
    padding: 6px 12px;
}
@media (min-width: 1200px) {
    .wpcf7-form textarea {
        padding-left: 19px;
        padding-right: 19px;
    }
}
.wpcf7-form .ajax-loader {
    margin-top: 10px;
}
.wpcf7-not-valid-tip {
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
}
.btn-link {
    color: #e41f43;
}
.btn-link:hover,
.btn-link:focus {
    color: #fff;
}
.btn {
    border: none;
    text-shadow: none;
}
.btn-primary {
    background: #e41f43;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
.btn-primary:before,
.btn-primary:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: #fff;
    z-index: -1;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.btn-primary:before {
    top: -50%;
}
.btn-primary:after {
    bottom: -50%;
}
.btn-primary:hover,
.btn-primary:focus {
    color: #e41f43;
    background: #fff;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
.btn-primary:hover:before,
.btn-primary:hover:after,
.btn-primary:focus:before,
.btn-primary:focus:after {
    height: 100%;
}
.btn-primary:hover:before,
.btn-primary:focus:before {
    top: auto;
    bottom: 50%;
}
.btn-primary:hover:after,
.btn-primary:focus:after {
    bottom: auto;
    top: 50%;
}
.btn-primary.btn-normal {
    font-size: 16px;
    padding: 11px 23px;
}
.btn-link {
    padding: 0;
}
.btn-link.btn-normal {
    font-size: 14px;
}
.btn-link:hover,
.btn-link:focus {
    text-decoration: none;
}
#back-top {
    margin-bottom: 0;
}
#back-top-wrapper {
    right: 35px;
    bottom: 30px;
    z-index: 500;
}
#back-top a {
    width: 30px;
    font-size: 45px;
    font-family: FontAwesome;
}
#back-top a:hover {
    color: #fff;
}
#back-top a:hover span {
    background-color: transparent;
}
#back-top a:hover span:before {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.ie8 #back-top a:hover span:before {
    visibility: hidden;
}
#back-top a:hover span:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.ie8 #back-top a:hover span:after {
    visibility: visible;
}
#back-top span {
    width: 30px;
    height: 20px;
    background: none;
    margin-bottom: 0;
    text-align: center;
}
#back-top span:before,
#back-top span:after {
    content: '\f106';
    line-height: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
#back-top span:before {
    color: #fff;
}
#back-top span:after {
    color: #e41f43;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.ie8 #back-top span:after {
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}