<!DOCTYPE html>
<html lang="en-US" ng-app="myApp" ng-controller="MovieController">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài">
    <meta name="keywords" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài, doraemonviet.tk, doraemonviet.com">
    <meta name="robots" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài, doraemonviet.tk, doraemonviet.com">
    <meta name="DC.title" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài, doraemonviet.tk, doraemonviet.com">
    <meta property="og:title" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài, doraemonviet.tk, doraemonviet.com">
    <meta property="og:description" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài, doraemonviet.tk, doraemonviet.com">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://doraemonviet.tk/">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:site_name" content="Doraemon.COM">
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.png" />
    <link rel="canonical" href="http://doraemonviet.tk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="./css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="all" href="./css/responsive.css" />
    <link rel='stylesheet' id='theme53261-css' href='./css/main-style.css' type='text/css' media='all' />
    <link href="./css/video-js.css" rel="stylesheet">
</head>

<body class="single single-post postid-1984 single-format-video cat-13-id cherry-fixed-layout">
   
    <script src="./js/angular.min.js"></script>
    <script src="./js/add-series.js"></script>
</body>

</html>