<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{item.ep+" : "+item.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content style="overflow-x: hidden;">
      <div style="width:2000px"></div>
      <md-content layout-padding>
        <form name="projectForm">
          <md-input-container class="md-block">
            <label>Tập</label>
            <input required md-no-asterisk name="ep" ng-model="item.ep">
            <div ng-messages="projectForm.ep.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Tên</label>
            <input required md-no-asterisk name="title" ng-model="item.title">
            <div ng-messages="projectForm.title.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          
          <div layout="row" data-ng-repeat="choice in choices">           
            <md-input-container flex="20">
              <label>Video Type</label>
              <md-select name="choice.type" ng-model="choice.type" required>
                <md-option value="file">File</md-option>
                <md-option value="frame">Frame</md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex="75">
              <label>Url</label>
              <input required name="choice.url" ng-model="choice.url">
              <div ng-messages="projectForm.choice.url.$error">
                <div ng-message="required">This is required.</div>
              </div>    
            </md-input-container>
            <md-button ng-click="deleteChoice($index)" class="md-accent" flex="5">
                Xoá
            </md-button>
          </div>
          <md-button ng-click="addNewChoice()" class="md-primary">
              Thêm nguồn
          </md-button>
        </form>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="delete()" class="md-warn">
        Xoá
      </md-button>
      <md-button ng-click="edit()" class="md-accent">
        Sửa
      </md-button>
      <md-button ng-click="add()" class="md-primary">
        Thêm mới
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>