<!DOCTYPE html>
<html lang="en-US" ng-app="myApp" ng-controller="MovieController">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài">
    <meta name="keywords" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài, doraemonviet.tk, doraemonviet.com">
    <meta name="robots" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài, doraemonviet.tk, doraemonviet.com">
    <meta name="DC.title" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài, doraemonviet.tk, doraemonviet.com">
    <meta property="og:title" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài, doraemonviet.tk, doraemonviet.com">
    <meta property="og:description" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài, doraemonviet.tk, doraemonviet.com">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://doraemonviet.tk/">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:site_name" content="Doraemon.COM">
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.png" />
    <link rel="canonical" href="http://doraemonviet.tk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="./css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="all" href="./css/responsive.css" />
    <link rel='stylesheet' id='theme53261-css' href='./css/main-style.css' type='text/css' media='all' />
    <link href="./css/video-js.css" rel="stylesheet">
</head>

<body class="single single-post postid-1984 single-format-video cat-13-id cherry-fixed-layout">
    <div class="adsleft ads-box">
        <script type="text/javascript" src="//ylx-1.com/bnr.php?section=General&pub=932452&format=120x600&ga=g"></script>
        <noscript>
            <a href="https://yllix.com/publishers/932452" target="_blank">
                <img src="//ylx-aff.advertica-cdn.com/pub/120x600.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" />
            </a>
        </noscript>
    </div>
    <div class="adsright">
        <script type="text/javascript">
            (function () {
                if (window.CHITIKA === undefined) { window.CHITIKA = { 'units': [] }; };
                var unit = { "calltype": "async[2]", "publisher": "phihoanganh", "width": 300, "height": 600, "sid": "Chitika Default" };
                var placement_id = window.CHITIKA.units.length;
                window.CHITIKA.units.push(unit);
                document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
            }());
        </script>
        <script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
    </div>
    <div id="motopress-main" class="main-holder">
        <!--Begin #motopress-main-->
        <header class="motopress-wrapper header">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="nav-wrapper">
                            <div class="row">
                                <div class="span3">
                                    <!-- BEGIN LOGO -->
                                    <div class="logo pull-left">
                                        <a href="#" class="logo_h logo_h__img">
                                            <img src="./images/header.png" alt="doremon tieng viet" title="">
                                        </a>
                                    </div>
                                    <!-- END LOGO -->
                                </div>
                                <div class="span9" data-motopress-type="static" data-motopress-static-file="static/static-nav.php">
                                    <!-- BEGIN MAIN NAVIGATION -->
                                    <nav class="nav nav__primary clearfix">
                                        <div class="span9">
                                            <a href="#">
                                                <div class="menu-item" ng-class="{'menu-item-act': !typeTruyen}" ng-click="chooseType(0)">Truyện ngắn</div>
                                            </a>
                                            <a href="#">
                                                <div class="menu-item" ng-class="{'menu-item-act': typeTruyen}" ng-click="chooseType(1)">Truyện dài</div>
                                            </a>
                                            <div class="menu-item base-padding ads-box">
                                                <!-- Banner -->
                                                <script type="text/javascript" src="//ylx-1.com/bnr.php?section=General&pub=932452&format=468x60&ga=g"></script>
                                                <noscript style="background-color:'white'">
                                                    <a href="https://yllix.com/publishers/932452" target="_blank">
                                                        <img src="//ylx-aff.advertica-cdn.com/pub/468x60.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" />
                                                    </a>
                                                </noscript>
                                            </div>
                                        </div>
                                    </nav>
                                    <!-- END MAIN NAVIGATION -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="motopress-wrapper content-holder clearfix">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="row">
                            <div class="span12">
                                <section class="title-section">
                                    <span class="title-header">
                                        {{title}}
                                    </span>

                                </section>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8 right right" id="content">
                                <div class="video-wrap html5-video">

                                    <!-- BEGIN video -->
                                    <div id="jp_container_1984" class="jp-video fullwidth">
                                        <div ng-if="!isVideo" class="video-js jp-type-list-parent">
                                            <iframe width="100%" height="100%" ng-src="{{movieUrl}}" frameborder="0" allowfullscreen>
                                            </iframe>
                                        </div>
                                        <video ng-if="isVideo" id="my-video" class="video-js jp-type-list-parent" controls preload="auto" data-setup='{"playbackRates": [1, 1.5, 2] }'>>
                                            <source ng-src="{{movieUrl}}" type='video/mp4'>
                                            <p class="vjs-no-js">
                                                Để xem video vui lòng bật JavaScript, hoặc nâng cấp trình duyệt của bạn
                                                <a href="http://videojs.com/html5-video-support/" target="_blank">Hỗ trợ HTML5 video</a>
                                            </p>
                                        </video>
                                    </div>
                                    <!-- END video -->
                                </div>
                                <!-- Post Content -->
                                <div class="post_content">
                                    <div class="tabcontent">
                                        <button ng-repeat="item in movieSources" class="button1" ng-click="selectServer($index)" ng-class="{'button2': (server==$index)}">Server {{$index+1}}</button>
                                    </div>
                                    <br>
                                    <div class="m-center">
                                        <!-- START Clickor.net AD CODE -->
                                        <script language="javascript" type="text/javascript" charset="utf-8">
                                            var cpxcenter1522_banner_border = '#990033';
                                            var cpxcenter1522_banner_text = '#000000';
                                            var cpxcenter1522_banner_bg = '#FFFFFF';
                                            cpxcenter1522_banner_link = '#000000';
                                            cpxcenter1522_width = 468;
                                            cpxcenter1522_height = 60;
                                        </script>
                                        <script language="JavaScript" type="text/javascript" src="//serv.clicksor.net/display.php?nid=1522&zone=143196&type=banner&sid=86554&pid=109618&subid=&opt1=&opt2=">
                                        </script>
                                        <!-- END AD CODE -->
                                    </div>
                                    <br>
                                    <h1 class="tabcontent text-explan"> Doremon Tiếng Việt </h1>
                                    <h2 class="tabcontent text-explan">
                                        Doraemon (Đôrêmon) là một chú mèo máy được Sewashi (Nôbitô), cháu ba đời của Nobita gửi về quá khứ cho ông mình để giúp đỡ
                                        Nobita tiến bộ, tức là cũng sẽ cải thiện hoàn cảnh của con cháu Nobita sau này. Còn
                                        ở hiện tại, Nobita là một cậu bé luôn thất bại ở trường học, và sau đó là thất bại
                                        trong công việc, đẩy gia đình và con cháu sau này vào cảnh nợ nần.
                                    </h2>
                                    <div class="tab">
                                        <button ng-repeat="ep in listEp" ng-class="{'active': (startEp == ep.start)}" class="tablinks" ng-click="renMainEp(ep.start,ep.end)">
                                            <span ng-bind="ep.title"></span>
                                        </button>
                                    </div>

                                    <div ng-if="!typeTruyen" class="tabcontent m-center">
                                        <button ng-repeat="item in mainEp track by $index" class="button1" ng-click="select(item.id)" ng-class="{'button2': (movieId==item.id)}">{{item.ep}}</button>
                                    </div>
                                    <div ng-if="typeTruyen" class="tabcontent">
                                        <button class="motopress-wrapper button-full btn-more-style" ng-class="{'button2': (movieId==item.id)}" ng-repeat="item in mainEp track by $index"
                                            ng-click="select(item.id)">
                                            {{item.title}}
                                        </button>
                                    </div>
                                    <div class="m-center">
                                        <!-- START Clickor.net AD CODE -->
                                        <script language="javascript" type="text/javascript" charset="utf-8">
                                            var cpxcenter1522_banner_border = '#990033';
                                            var cpxcenter1522_banner_text = '#000000';
                                            var cpxcenter1522_banner_bg = '#FFFFFF';
                                            cpxcenter1522_banner_link = '#000000';
                                            cpxcenter1522_width = 468;
                                            cpxcenter1522_height = 60;
                                        </script>
                                        <script language="JavaScript" type="text/javascript" src="//serv.clicksor.net/display.php?nid=1522&zone=143196&type=banner&sid=86554&pid=109618&subid=&opt1=&opt2=">
                                        </script>
                                        <!-- END AD CODE -->
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="span4 sidebar" id="sidebar">
                                <div id="my_postwidget-8" class="widget widget_my_postwidget">
                                    <h3 class="widget-title m-center">Doraemon Tiếng Việt</h3>
                                    <ul class="post-list unstyled">
                                        <li class="post-list_li clearfix">
                                            <div class="m-center ads-box">
                                                <iframe width="300" height="250" src="http://lap.lazada.com/custom-carousel/dynamic.php?banner_id=59eb64aab1b18&theme=2&p=3"
                                                    frameborder="0" scrolling="no"></iframe>
                                                <h3 class="widget-title">Doremon Lồng Tiếng</h3>

                                                <!-- yllix.com -->
                                                <script type="text/javascript" src="//ylx-1.com/bnr.php?section=General&pub=932452&format=300x250&ga=g"></script>
                                                <noscript>
                                                    <a href="https://yllix.com/publishers/932452" target="_blank">
                                                        <img src="//ylx-aff.advertica-cdn.com/pub/300x250.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" />
                                                    </a>
                                                </noscript>
                                                <!--End yllix.com -->
                                                <!-- START Clickor.net AD CODE -->
                                                <script language="javascript" type="text/javascript" charset="utf-8">
                                                    var cpxcenter1522_banner_border = '#990033';
                                                    var cpxcenter1522_banner_text = '#000000';
                                                    var cpxcenter1522_banner_bg = '#FFFFFF';
                                                    cpxcenter1522_banner_link = '#000000';
                                                    cpxcenter1522_width = 300;
                                                    cpxcenter1522_height = 250;
                                                </script>
                                                <script language="JavaScript" type="text/javascript" src="//serv.clicksor.net/display.php?nid=1522&zone=143197&type=banner&sid=86554&pid=109618&subid=&opt1=&opt2=">
                                                </script>
                                                <!-- END AD CODE -->
                                                <script type="text/javascript">
                                                    (function () {
                                                        if (window.CHITIKA === undefined) { window.CHITIKA = { 'units': [] }; };
                                                        var unit = { "calltype": "async[2]", "publisher": "phihoanganh", "width": 300, "height": 250, "sid": "Chitika Default" };
                                                        var placement_id = window.CHITIKA.units.length;
                                                        window.CHITIKA.units.push(unit);
                                                        document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
                                                    }());
                                                </script>
                                                <script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
                                                <script type="text/javascript">
                                                    (function () {
                                                        if (window.CHITIKA === undefined) { window.CHITIKA = { 'units': [] }; };
                                                        var unit = { "calltype": "async[2]", "publisher": "phihoanganh", "width": 300, "height": 250, "sid": "Chitika Default" };
                                                        var placement_id = window.CHITIKA.units.length;
                                                        window.CHITIKA.units.push(unit);
                                                        document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
                                                    }());
                                                </script>
                                                <script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="motopress-wrapper footer">
            <div class="container">
                Các câu chuyện trong Doraemon thường có một công thức chung, đó là xoay quanh những rắc rối hay xảy ra với cậu bé Nobita
                học lớp năm, nhân vật chính thứ nhì của bộ truyện. Doraemon có một chiếc túi thần kỳ trước bụng với đủ loại
                bảo bối của tương lai. Cốt truyện thường gặp nhất sẽ là Nobita trở về nhà khóc lóc với những rắc rối mà cậu
                gặp phải ở trường hoặc với bạn bè. Sau khi bị cậu bé van nài hoặc thúc giục, Doraemon sẽ đưa ra một bảo bối
                giúp Nobita giải quyết những rắc rối của mình, hoặc là để trả đũa hay khoe khoang với bạn bè của cậu. Nobita
                sẽ lại thường đi quá xa so với dự định ban đầu của Doraemon, thậm chí với những bảo bối mới cậu còn gặp rắc
                rối lớn hơn trước đó. Đôi khi những người bạn của Nobita, thường là Suneo (Xêkô) hoặc Jaian (Chaien) lại
                lấy trộm những bảo bối và sử dụng chúng không đúng mục đích. Tuy nhiên thường thì ở cuối mỗi câu chuyện,
                những ai sử dụng sai mục đích bảo bối sẽ phải chịu hậu quả do mình gây ra, và người đọc sẽ rút ra được bài
                học từ đó. Doremon | Doraemon | Doremon | Doraemon VIETSUB ONLINE | Doraemon MÙA | Doraemon HAY | Doraemon
                | Doraemon Truyện Dài, | Doraemon Truyện ngắn
                <div itemscope itemtype="http://www.doraemonviet.tk">
                    <span itemprop="name">Doraemon Viet</span>
                    <span itemprop="company">Doraemon Viet</span>
                    <span itemprop="tel">555-555-555</span>
                    <a itemprop="email" href="mailto:quanlyflashgame@gmail.com">quanlyflashgame@gmail.com</a>
                </div>
            </div>
        </footer>
        <!--End #motopress-main-->
    </div>
    <script src="./js/angular.min.js"></script>
    <script src="./js/video.js"></script>
    <script src="./js/app.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108072357-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-108072357-1');
    </script>
</body>

</html>