<!DOCTYPE html>
<html lang="en-US" ng-app="myApp" ng-controller="MovieController">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Doraemon, Doremon, Doremon Tiếng Việt, Doremon Truyện Ngắn, Truyện Dài</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài">
    <meta name="keywords" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài, doraemonviet.tk, doraemonviet.com">
    <meta name="robots" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài, doraemonviet.tk, doraemonviet.com">
    <meta name="DC.title" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài, doraemonviet.tk, doraemonviet.com">
    <meta property="og:title" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài, doraemonviet.tk, doraemonviet.com">
    <meta property="og:description" content="Doraemon, Doremon, Doraemon Tiếng Việt, Doremon lồng tiếng, Doraemon Thuyết minh, Doraemon Full Hd, Doraemon truyện ngắn, Doraemon truyện dài, doraemonviet.tk, doraemonviet.com">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://doraemonviet.tk/">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:site_name" content="Doraemon.COM">
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div>{{head}}</div>
    <div ng-repeat="item in mainData"><span ng-bind="renData(item)"></span></div>
    <div>{{end}}</div>
    <!--End #motopress-main-->
    <!-- <script data-cfasync="false" type="text/javascript" src="https://www.predictivadnetwork.com/a/display.php?r=1804479"></script>         -->
    </div>
    <script src="./js/angular.min.js"></script>
    <script src="./js/video.js"></script>
    <script src="./js/rendersitemap.js"></script>

</body>

</html>